@font-face {
    font-family: 'Dapper Regular';
    src: url(/arteBA/font/NTDapper-Regular.otf);}
@font-face {
    font-family: 'Dapper Bold';
    src: url(/arteBA/font/NTDapper-Bold.otf);
}

.Rosa:active, .Rosa:hover{
background-color: #FB98CE;
color: #000000}

.Verde:active, .Verde:hover{
    background-color: #AAFF88;
    color: #000000}

.Negro:active, .Negro:hover{
    background-color: #ccc;
    color: #000000}

.list-group button{
        border: 0 none;
    }

.leaflet-popup-content {
        font-family: 'Dapper Bold';
        font-size: 16px;
        text-align: center;
        }

.leaflet-popup-close-button{
    display: none;
}