.rosa:active, .rosa:hover{
background-color: #FF008C;
color: white;}

.verde:active, .verde:hover{
    background-color: #2ad688;
    color: white;}

.negro:active, .negro:hover{
    background-color: black;
    color: white;}